<nav ngClass="navbar navbar-expand-lg navbar-dark bg-dark">
    <a ngClass="navbar-brand" href="#">Navbar</a>
    <button ngClass="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span ngClass="navbar-toggler-icon"></span>
    </button>
    <div ngClass="collapse navbar-collapse" id="navbarNav">
      <ul ngClass="navbar-nav">
        <li ngClass="nav-item active">
          <a ngClass="nav-link" href="#">Home <span ngClass="sr-only">(current)</span></a>
        </li>
        <li ngClass="nav-item">
          <a ngClass="nav-link" href="#">Features</a>
        </li>
        <li ngClass="nav-item">
          <a ngClass="nav-link" href="#">Pricing</a>
        </li>
        <li ngClass="nav-item">
          <a ngClass="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>