<form ngClass="container p-5" [formGroup]="form" (submit)="login()">
  <div ngClass="form-group">
    <label for="formGroupExampleInput">Tên đăng nhập:</label>
    <input
      type="text"
      ngClass="form-control"
      id="formGroupExampleInput"
      placeholder="Tên đăng nhập..."
      formControlName="username"
    />
  </div>
  <div ngClass="form-group">
    <label for="formGroupExampleInput2">Mật khẩu:</label>
    <input
      type="password"
      ngClass="form-control"
      id="formGroupExampleInput2"
      placeholder="Mật khẩu..."
      formControlName="password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
<p-toast
  position="top-right"
  key="tl"
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
