<p-dialog
  header="Thêm mới loại văn bản"
  [(visible)]="displayDialog"
  [style]="{ width: '50vw', minHeight: '10rem' }"
  [baseZIndex]="10000"
  [modal]="true"
  [draggable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <h4>Thêm mới loại văn bản</h4>
  </ng-template>
  <form [formGroup]="formAdd">
    <div ngClass="form-group">
      <label for="exampleInputEmail1" ngClass="font-weight-bold"
        >Mã loại <span ngClass="text-danger">*</span></label
      >
      <input
        *ngIf="product"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Mã loại"
        formControlName="code"
        [ngClass]="
          responseCodeErr.propertyName ? '__error-input' : '__normal-input'
        "
        [ngModel]="product.code"
      />
      <input
        *ngIf="!product"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Mã loại"
        formControlName="code"
        [ngClass]="
          responseCodeErr.propertyName ? '__error-input' : '__normal-input'
        "
      />

      <small class="text-danger" *ngIf="responseCodeErr">
        {{ responseCodeErr.rule }}
      </small>
    </div>
    <div ngClass="form-group">
      <label for="exampleInputEmail2" ngClass="font-weight-bold"
        >Tên loại <span ngClass="text-danger">*</span>
      </label>
      <input
        *ngIf="product"
        type="text"
        class="form-control"
        id="exampleInputEmail2"
        aria-describedby="emailHelp"
        placeholder="Tên loại"
        formControlName="title"
        [ngClass]="
          responseTitleErr.propertyName ? '__error-input' : '__normal-input'
        "
        [ngModel]="product.title"
      />
      <input
        *ngIf="!product"
        type="text"
        class="form-control"
        id="exampleInputEmail2"
        aria-describedby="emailHelp"
        placeholder="Tên loại"
        formControlName="title"
        [ngClass]="
          responseTitleErr.propertyName ? '__error-input' : '__normal-input'
        "
      />
      <small class="text-danger" *ngIf="responseTitleErr">
        {{ responseTitleErr.rule }}
      </small>
    </div>
    <label for="exampleCheck1" ngClass="font-weight-bold">Trạng thái</label>
    <div ngClass="form-check">
      <input
        *ngIf="product"
        type="checkbox"
        ngClass="form-check-input"
        id="exampleCheck1"
        formControlName="active"
        [ngModel]="product.active"
      />
      <input
        *ngIf="!product"
        type="checkbox"
        ngClass="form-check-input"
        id="exampleCheck1"
        formControlName="active"
      />
      <label ngClass="form-check-label" for="exampleCheck1">Kích hoạt</label>
    </div>
    <div class="__content--left">
      <button type="button" ngClass="btn btn-primary" (click)="submit()">
        Đồng ý
      </button>
      <button
        type="button"
        ngClass="btn btn-danger ml-3"
        (click)="closeDialog()"
      >
        Thoát
      </button>
    </div>
  </form>
</p-dialog>
