<div ngClass="__control__bar border">
  <div ngClass="__control__item-add">
    <button ngClass="__add--btn btn btn-primary" (click)="showAddDialog()">
      Thêm mới
    </button>
  </div>
  <div ngClass="__control__item--search __control__bar-pc">
    <div>
      <form ngClass="form-inline end-0" [formGroup]="searchKeyword">
        <input
          ngClass="  form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          formControlName="keyword"
        />
        <button
          ngClass="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          (click)="handleSearch()"
        >
          Tìm kiếm
        </button>
      </form>
    </div>
  </div>
  <div ngClass="__control__bar-mobile">
    <button
      ngClass="  btn btn-outline-success my-2 my-sm-0"
      type="submit"
      (click)="showSearchDialog()"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>

<div ngClass="center __table__res">
  <p-table
    [value]="products"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 50, 100]"
    [scrollable]="true"
    (onPage)="paginate($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 200px">STT</th>
        <th style="min-width: 200px">Mã</th>
        <th style="min-width: 200px">Loại văn bản</th>
        <th style="min-width: 100px">Trạng thái</th>
        <th style="min-width: 50px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td style="min-width: 200px">{{ products.indexOf(product) + 1 }}</td>
        <td style="min-width: 200px">{{ product.code }}</td>
        <td style="min-width: 200px">{{ product.title }}</td>
        <td style="min-width: 100px">
          <i
            *ngIf="product.active"
            ngClass="fa-solid fa-toggle-on text-success"
          ></i>
          <i *ngIf="!product.active" ngClass="fa-solid fa-toggle-off"></i>
        </td>
        <td style="min-width: 50px">
          <button
            type="button"
            ngClass="btn bg-transparent mr-2"
            (click)="selectEditItem(product)"
          >
            <i class="fa-solid fa-pen text-info"></i>
          </button>
          <button
            type="button"
            ngClass="btn bg-transparent"
            (click)="deleteItemSelected(product.id)"
          >
            <i class="fa-solid fa-trash-can text-danger"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- DIALOG -->
<!-- ADD DIALOG -->
<p-dialog
  header="Thêm mới loại văn bản"
  [(visible)]="displayAdd"
  [style]="{ width: '50vw', minHeight: '10rem' }"
  [baseZIndex]="10000"
  [modal]="true"
  [draggable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
>
  <ng-template pTemplate="header">
    <h2>Thêm mới loại văn bản</h2>
  </ng-template>
  <form [formGroup]="formAdd">
    <div ngClass="form-group">
      <label for="exampleInputEmail1" ngClass="font-weight-bold"
        >Mã loại <span ngClass="text-danger">*</span></label
      >
      <input
        type="text"
        ngClass="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Mã loại"
        formControlName="code"
      />
    </div>
    <div ngClass="form-group">
      <label for="exampleInputEmail2" ngClass="font-weight-bold"
        >Tên loại <span ngClass="text-danger">*</span>
      </label>
      <input
        type="text"
        ngClass="form-control"
        id="exampleInputEmail2"
        aria-describedby="emailHelp"
        placeholder="Tên loại"
        formControlName="title"
      />
    </div>
    <label for="exampleCheck1" ngClass="font-weight-bold">Trạng thái</label>
    <div ngClass="form-check">
      <input
        type="checkbox"
        ngClass="form-check-input"
        id="exampleCheck1"
        formControlName="active"
      />
      <label ngClass="form-check-label" for="exampleCheck1">Kích hoạt</label>
    </div>
    <div ngClass="__content--left">
      <button type="button" ngClass="btn btn-primary" (click)="submitAdd()">
        Đồng ý
      </button>
      <button
        type="button"
        ngClass="btn btn-danger ml-3"
        (click)="closeAddDialog()"
      >
        Thoát
      </button>
    </div>
  </form>
</p-dialog>

<!-- DELETE DIALOG -->
<p-dialog
  header=""
  [(visible)]="displayDelete"
  [style]="{ width: '50vw', minHeight: '10rem' }"
  [baseZIndex]="10000"
  [modal]="true"
  [draggable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
>
  <ng-template pTemplate="header">
    <h2>Xóa văn bản</h2>
  </ng-template>
  <form>
    <div>
      <p>
        <span><i ngClass="fa-solid fa-circle-question text-info"></i></span>
        Bạn có muốn xóa bản ghi?
      </p>
    </div>
    <div ngClass="__content--left">
      <button type="button" ngClass="btn btn-primary" (click)="submitDelete()">
        Đồng ý
      </button>
      <button
        type="button"
        ngClass="btn btn-danger ml-3"
        (click)="closeDeleteDialog()"
      >
        Thoát
      </button>
    </div>
  </form>
</p-dialog>

<!-- EDIT PRODUCT DIALOG -->
<p-dialog
  header="Chỉnh sửa loại văn bản"
  [(visible)]="displayEdit"
  [style]="{ width: '50vw', minHeight: '10rem' }"
  [baseZIndex]="10000"
  [modal]="true"
  [draggable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
>
  <ng-template pTemplate="header">
    <h2>Chỉnh sửa loại văn bản</h2>
  </ng-template>
  <form [formGroup]="formEdit" *ngIf="editItemSelected">
    <div ngClass="form-group">
      <input
        type="text"
        formControlName="codeEdit"
        [ngModel]="editItemSelected.code"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        formControlName="titleEdit"
        [ngModel]="editItemSelected.title"
      />
    </div>
    <label for="exampleCheck1" ngClass="font-weight-bold">Trạng thái</label>
    <div ngClass="form-check">
      <input
        [ngModel]="editItemSelected.active"
        type="checkbox"
        ngClass="form-check-input"
        id="exampleCheck1"
        formControlName="activeEdit"
      />
      <label ngClass="form-check-label" for="exampleCheck1">Kích hoạt</label>
    </div>
    <div ngClass="__content--left">
      <button type="button" ngClass="btn btn-primary" (click)="submitEdit()">
        Đồng ý
      </button>
      <button
        type="button"
        ngClass="btn btn-danger ml-3"
        (click)="closeEditDialog()"
      >
        Thoát
      </button>
    </div>
  </form>
</p-dialog>

<!-- DIALOG SEARCH FOR MOBILE -->
<p-dialog
  header=""
  [(visible)]="displaySearch"
  [style]="{ width: '50vw', minHeight: '10rem' }"
  [baseZIndex]="10000"
  [modal]="true"
  [draggable]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
>
  <ng-template pTemplate="header">
    <h2>Tìm kiếm</h2>
  </ng-template>
  <div>
    <form
      ngClass="__search__dialog--mobile form-inline end-0"
      [formGroup]="searchKeyword"
    >
      <input
        ngClass="__search__input--mobile  mr-sm-2"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
        formControlName="keyword"
      />
      <button
        ngClass="btn btn-outline-success my-2 my-sm-0 ml-3"
        type="submit"
        (click)="handleSearch()"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <div ngClass="__content--left">
    <button
      type="button"
      ngClass="btn btn-danger ml-3 mt-3"
      (click)="closeSearchDialog()"
    >
      Thoát
    </button>
  </div>
</p-dialog>

<!-- DIALOG MESSAGE ACTION -->
<p-toast
  position="top-right"
  key="tl"
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
